<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            @Html.ActionLink("nKanban", "Index", "Home", null, new { @class = "brand" })
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        @if (!this.Request.IsAuthenticated)
                        {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">You are not logged in <b
                                class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.RouteLink("Login", "Login")</li>
                                <li>@Html.RouteLink("Register", "Register")</li>
                                <li>@Html.RouteLink("Forgot Password", "ForgotPassword")</li>
                            </ul>
                        }
                        else
                        {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@HttpContext.Current.User.Identity.Name<b
                                class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="logout-link">Logout</a> </li>
                                <li>@Html.RouteLink("Dashboard", "Dashboard")</li>
                                <li>@Html.RouteLink("Reset Password", "ResetPassword")</li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Delete", "Session", FormMethod.Post, new { id = "logout-form" }))
{

}
<script type="text/javascript" src="@Url.Content("~/Scripts/navbar.js")"></script>
